*::selection { background-color: #FFAA00; }
*::-moz-selection { background-color: #D37D07; } /* Wierd things are going on with Firefox */

.wrapper, section { min-width: 500px; max-width: 78%; margin: auto; }
ul { margin-bottom: 0; }
section { margin-top: 0; }
p { margin-bottom: .5em; }
code { background-color: #525252; border-radius: 0; }
a:focus { outline-width: 0; }

.wrapper section #remove-if-loaded { display: block; text-align: center; }

div.project { padding: .5em 0; }
div.project h1.title { margin-bottom: 0; }
div.project div.description { margin-bottom: 15px; }
div.project div.description p { margin-bottom: 0; line-height: 1.3; }
div.project:not(:last-child) { border-bottom: 2px double rgba(128, 128, 128, .5); }

div.info-item { display: block; }
div.info-item p:first-of-type { display: inline; }
div.info-item p:first-of-type::before { content: " "; }
span.info-item { display: inline-block; font-weight: bold; text-decoration: underline; }
span.info-item::after { content: ":"; display: inline-block; }

span.hidden-text { display: none; }
p#hü3 a { color: inherit; cursor: text; }
p#hü3 a::before { content: "HÜ3"; }